
#wrapperCarroussel {
    position: relative;
    display: flex;
    width: 96%;
    height: 400px;
    border-radius: 25px;
    margin: auto;
    align-items: center;
    background: center;
    background-image: cover;
}

.left {
    position: absolute;
    left: 0;
}

.countCarroussel {
    position: absolute;
    left: 48%;
    bottom: 20px;
}

.right {
    position: absolute;
    right: 0;
}