
#wrapperCarroussel {
    position: relative;
    display: flex;
    width: 95%;
    height: 300px;
    justify-content: space-between;
    border: 1px solid black;
    margin: auto;
    align-items: center;
    background: center;
    background-image: cover;
}

.left {
    position: absolute;
    left: 0;
}

.countCarroussel {
    position: absolute;
    left: 48%;
    bottom: 20px;
}

.right {
    position: absolute;
    right: 0;
}