
.wrapperCollapse {
    width: 45%;
}

.headerCollapse {
    display: flex;
    justify-content: space-between;
    padding: auto 15px;
    background: #FF6060;
    color: white;
}

#textCollapse {
    display: none;
    background: rgb(235, 235, 235);
    color: #FF6060;
}