
.wrapperCollapse {
    width: 48%;
    margin: 25px auto;
}

.headerCollapse {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    background: #FF6060;
    color: white;
    border-radius: 10px;
}

.wrapperChevronDown {
    display: flex;
}

.fa-chevron-down {
    margin: auto;
    font-size: 1.7em;
}