
.wrapperFooter {
    display: flex;
    height: 150px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

@media screen and (max-width: 1024px) {
	.wrapperFooter {
		
	}
}