
.wrapperHeader {
    display: flex;
    justify-content: space-between;
    margin: 25px 75px;
}

.nav {
    width: 15%;
}

.ul {
    display: flex;
    justify-content: space-between;
    color: #ff6060;
    font-family: 'Montserrat';
}