
.wrapperHome {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.imgHome {
    width: 95%;
    height: 223px;
    background: url('../assets/images/imgBandeauHome.jpg') no-repeat center;
    border-radius: 25px;
    margin: auto;
}

.wrapperHouses {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    margin: 30px auto;
    padding: 30px;
    background: #f6f6f6;
    border-radius: 25px;
}

@media screen and (max-width: 1024px) {
	.wrapperHouses {
        width: 95%;
        margin: auto;
        background: white;
        flex-direction: column;
        padding: 0;
        margin-top: 20px;
	}
}