
.wrapperHome {
    margin: 25px 75px;
}

.imgHome {
    width: 100%;
    height: 275px;
    background: rgb(235, 235, 235);
    border-radius: 25px;
}

.wrapperHouses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    padding: 30px;
    background: rgb(235, 235, 235);
    border-radius: 25px;
}