
.wrapperHouse {
    display: block;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background: center;
    background-image: cover;
    margin: 20px auto;
}

@media screen and (max-width: 1024px) {
	.wrapperHouse {
        width: 100%;
	}
}